<div class="container-fluid edit-form-container">
    <div #editor class="edit-form-content">
        <div class="edit-form-header">
            <ul class="nav-tabs">
                <li
                    *ngFor="let group of groups"
                    class="nav-tab-item"
                    (click)="activateGroup(group.name)"
                >
                    <a
                        *ngIf="shouldShow(group.name)"
                        class="nav-tab-link"
                        [id]="getGroupId(group)"
                        [class.active]="group.name === activeGroup"
                        [class.conflicted]="group.name === 'conflicts' && document._conflicts"
                        href="javascript: void(0);"
                    >
                        <span
                            *ngIf="group.name === 'conflicts' && document._conflicts"
                            class="mdi mdi-alert"
                        >
                        </span>
                        {{getLabel(group)}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="edit-form-body">
            <div
                id="{{activeGroup}}-group"
                class="form-content"
                *ngIf="activeGroup !== 'conflicts' && activeGroup !== 'images'"
            >
                <edit-form-group
                    [document]="document"
                    [originalDocument]="originalDocument"
                    [fieldDefinitions]="getFields(activeGroup)"
                    [identifierPrefix]="identifierPrefix"
                    [languages]="languages"
                    [scrollTargetField]="scrollTargetField"
                >
                </edit-form-group>
            </div>

            <div
                *ngIf="activeGroup === 'conflicts'"
                id="docedit-conflicts-tab"
                class="form-content"
            >
                <docedit-conflicts-tab
                    [document]="document"
                    [inspectedRevisions]="inspectedRevisions"
                >
                </docedit-conflicts-tab>
            </div>
        </div>
    </div>
</div>
