<div class="document-teaser">

    <div *ngIf="document.resource['ancientcorinth:title'] || document.resource.shortDescription"
         class="teasercontent media-body ms-2">

        <!-- Check if ancientcorinth:title is an object -->
        <div class="title" *ngIf="document.resource['ancientcorinth:title']?.en; else displayAsString">
            {{ document.resource['ancientcorinth:title'].en }}
        </div>

        <!-- Fallback if ancientcorinth:title is a string -->
        <ng-template #displayAsString>
            <div class="title">{{ document.resource['ancientcorinth:title'] }}</div>
        </ng-template>

        <div class="subtitle">{{ getShortDescription() }}</div>
    </div>

    <div *ngIf="!(document.resource['ancientcorinth:title'] || document.resource.shortDescription)"
         class="teasercontent media-body ms-2">
        <div class="new title" i18n="@@components.documents.documentTeaser.newResource">Neue Ressource</div>
    </div>
</div>
