.document-teaser {
  @extend .d-flex;
  @extend .align-items-center;

  height: 100%;

  .teasercontent {
    position: relative;
    bottom: 1px;
  }
background-color: #a4ac91;
  .title,
  .subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    user-select: none;
  }

  .title {
    color: #ffffff;
    -webkit-line-clamp: 1;
    font-size: 16px;
    font-weight: 600;

    &.new {
      font-style: italic;
    }
  }

  .subtitle {
    color: #a67a3c;
    -webkit-line-clamp: 2;
    font-size: 12px;
  }
}
