<resources-context-menu *ngIf="contextMenu.isOpen()"
                        [contextMenu]="contextMenu"
                        (onSelectAction)="performContextMenuAction($event)">
</resources-context-menu>

<popover-menu *ngIf="selectedDocument" [document]="selectedDocument"
              (onDocumentInfoHeaderRightClicked)="contextMenu.open($event, [selectedDocument])"></popover-menu>

<cdk-virtual-scroll-viewport [itemSize]="itemSize" id="sidebar-viewport">
    <!-- Render Categorized List if in Extended Search Mode -->
    <ng-container *ngIf="isInExtendedSearchMode(); else flatList">
        <div *ngFor="let category of viewFacade.getGroupedDocuments()" class="category-group">
            <div class="category-header" (click)="viewFacade.toggleCategoryExpansion(category.name)">
                <span [class]="'mdi mdi-24px ' + (category.isExpanded ? 'mdi-chevron-down' : 'mdi-chevron-right')"></span>
                {{ category.name }} ({{ category.documents.length }})
            </div>
            <ul *ngIf="category.isExpanded" class="category-items">
                <li *ngFor="let document of category.documents trackBy: trackDocument"
                    class="category-item resources-listing-item resources-listing-item-wide"
                    (click)="select(document, $event)"
                    (contextmenu)="select(document, $event, false); contextMenu.open($event, getSelection())"
                    [class.has-warnings]="document.warnings"
                    [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
                    [class.selected]="selectedDocument?.resource.id === document.resource.id"
                    [class.additional-selected]="resourcesComponent.additionalSelectedDocuments?.includes(document)"
                    [id]="'resource-' + document.resource.identifier">
                    <!-- Check if ancientcorinth:title is an object -->
                    <span *ngIf="document.resource['ancientcorinth:title']?.en; else displayAsString">
                        {{ document.resource['ancientcorinth:title'].en }}
                    </span>

                    <!-- Fallback if ancientcorinth:title is a string -->
                    <ng-template #displayAsString>
                        <span>{{ document.resource['ancientcorinth:title'] }}</span>
                    </ng-template>
                    <span class="mdi mdi-information-outline mdi-24px"></span>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- Render Flat List if not in Extended Search Mode -->
    <ng-template #flatList>
        <ul #sidebar id="sidebar" class="category-items"
            tabindex="0" (scroll)="contextMenu.close()" (keydown)="onKeyDown($event)">
            <li *cdkVirtualFor="let document of viewFacade.getDocuments(); trackBy: trackDocument"
                class="resources-listing-item resources-listing-item-wide"
                (contextmenu)="contextMenu.open($event, getSelection())"
                [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
                [class.has-warnings]="document.warnings"
                [class.selected]="selectedDocument?.resource.id === document.resource.id"
                [class.additional-selected]="resourcesComponent.additionalSelectedDocuments?.includes(document)"
                [id]="'resource-' + document.resource.identifier"
                style="border-bottom: 1px solid #909090;">
<div class="document-teaser">
    <document-teaser (click)="select(document, $event)"
    (contextmenu)="select(document, $event, false)"
    (dblclick)="editDocument(document)"
    [document]="document"></document-teaser>
<list-button-group [document]="document"></list-button-group>
</div>
</li>
            <li *ngIf="resourcesComponent.isDocumentLimitExceeded()">
                <div id="document-limit-info" (click)="resourcesComponent.removeLimit()"
                     ngbTooltip="Die Darstellung von sehr großen Suchergebnissen kann je nach Gerät und Anzahl der Treffer sehr lange dauern. Daher wurde die aktuelle Darstellung zunächst auf {{viewFacade.getDocuments().length}} Ressourcen begrenzt. Klicken Sie hier, um das gesamte Ergebnis zu laden."
                     i18n-ngbTooltip="@@resources.searchResultsInfo.documentLimitRemoveTooltip">
                    <span class="mdi mdi-24px mdi-reload-alert"></span>
                    <span i18n="@@resources.searchResultsInfo.documentLimitRemove"></span>
                </div>
            </li>
        </ul>
    </ng-template>
</cdk-virtual-scroll-viewport>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedCategory]="getCurrentFilterCategory()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>
