<div
    #multiLanguageTextField
    class="multi-language-field-container"
    (keydown)="onKeyDown($event)"
>
    <div
        #tabs
        *ngIf="hasTabs()"
        class="language-selector"
        [class.focused]="focused"
    >
        <div class="language-selector-tabs">
            <button
                *ngFor="let language of tabLanguages"
                type="button"
                class="language-tab"
                [class.active]="language.code === selectedLanguage"
                [class.filled-in]="isFilledIn(language.code)"
                (click)="selectLanguage(language)"
                (focus)="focused = true"
            >
                <span class="language-code">{{language.label}}</span>
                <span
                    *ngIf="isFilledIn(language.code)"
                    class="has-content-indicator"
                ></span>
            </button>

            <div
                *ngIf="additionalLanguages?.length > 0"
                class="additional-languages"
                ngbDropdown
                placement="bottom-right"
                role="group"
                (openChange)="onAdditionalLanguagesDropdownMenuToggled($event)"
            >
                <button
                    type="button"
                    class="language-tab dropdown-toggle"
                    [class.active]="shownAdditionalLanguage.code === selectedLanguage || additionalLanguagesDropdownOpened"
                    [class.filled-in]="isFilledIn(shownAdditionalLanguage.code)"
                    ngbDropdownToggle
                >
                    <div class="dropdown-content-wrapper">
                        <span class="language-code"
                            >{{shownAdditionalLanguage.label}}</span
                        >
                        <span
                            *ngIf="isFilledIn(shownAdditionalLanguage.code)"
                            class="has-content-indicator"
                        ></span>
                    </div>
                </button>
                <div class="additional-languages-menu" ngbDropdownMenu>
                    <div class="additional-languages-list">
                        <button
                            *ngFor="let language of additionalLanguages"
                            type="button"
                            class="dropdown-item"
                            (click)="selectLanguage(language)"
                        >
                            {{language.label}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="input-container" [class.with-tabs]="hasTabs()">
        <input
            *ngIf="!multiLine"
            #inputField
            [(ngModel)]="selectedText"
            [class.focused]="focused"
            (input)="onChanges($event.target.value)"
            (focus)="focused = true"
            (blur)="onBlur()"
            class="form-control"
            placeholder="Enter text..."
        />
        <textarea
            *ngIf="multiLine"
            #inputField
            [(ngModel)]="selectedText"
            [class.focused]="focused"
            (input)="onChanges($event.target.value)"
            (focus)="focused = true"
            (blur)="onBlur()"
            class="form-control"
            placeholder="Enter text..."
        ></textarea>

        <div *ngIf="hasTabs()" class="current-language-indicator">
            <span class="language-label">{{getSelectedLanguageLabel()}}</span>
        </div>
    </div>
</div>
